UseDNS no
PermitRootLogin no
Subsystem sftp internal-sftp
ChrootDirectory %h
X11Forwarding no
AllowTcpForwarding no
ForceCommand internal-sftp
Protocol 2
ClientAliveInterval 300
ClientAliveCountMax 0
IgnoreRhosts yes
HostbasedAuthentication no
PermitEmptyPasswords no
